#homeMainBody {
    background-color: #292929;
    height: 100vh;
    padding-top: 3%;
}
.container_own {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.container_own2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.h-100 {
    height: 100vh !important;
}
//Filter Div Styling
.filter_div {
    margin: 0 auto;
    width: 228px;
    height: 275px;
    background: #131313;
    border-radius: 15px;
}
.filter_txt {
    padding-left: 0px;
    font-size: 20px;
    padding-top: 20px;
    color: #a5a5a5;
    font-weight: lighter;
}
.border_line {
    padding-top: 8px;
    border-bottom: 1px solid #a5a5a5 !important;
}
.mt_custom {
    margin-top: 25px !important;
    display: block !important;
}
.form-select {
    font-size: 17px !important;
    border: 1px solid #232323;
    background-color: #232323;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 10px;
}
